{% extends 'base.html' %}


{% block content %}

        <!-- Header-->
        <section class="banner-area organic-breadcrumb">
          <div class="container">
              <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                  <div class="col-first">
                      <h1>Checkout</h1>
                      <nav class="d-flex align-items-center">
                          <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                          <a href="single-product.html">Checkout</a>
                      </nav>
                  </div>
              </div>
          </div>
      </section>
        <br/>
        <div class="container">
            <div class="row">
                
                    <div class="col-md-6 offset-md-3">
          <div class="card">
          <div class="card-header">
            Order Summary
          </div>
          <div class="card-body">
            {% for product in cart_products %}
                {{ product.name }}: 
                    {% if product.is_sale %}
                        ${{ product.sale_price }}
                    {% else %}
                        ${{ product.price }}
                {% endif %}

                <br/>
                <small>Quantity: 
                {% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}
                        {{ value }}
                    {% endif %}
                {% endfor %}</small>
                <br/><br/>

            {% endfor %}
            Total:  ${{ totals }}
            <br/><br/>
            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
          </div>
        </div>
<br/><br/>
<div class="card">
  <div class="card-header">
    Shipping Info
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'billing_info' %}">
        {% csrf_token %}
    {{ shipping_form.as_p }}

  </div>
</div>
<br/>

<button type="submit" class="btn btn-secondary">
        Continue To Billing
</button>

</form>
<br/><br/>


            </div>
        </div>
    </div>






{% endblock %}